<% title 'Investor Portal' %>
<section id="portal">
  <header>
    <div class="content">
      Inbox
      <%= select_year(Date.today, :start_year => 2013, :end_year => Date.today.year) %>
      <span class="right"> Welcome  <%= current_user.email %> </span>
    </div>
  </header>

<ul class="messages">
  <% if @messages.empty? %>
       <li class="document">
        <ul>
          <li>Sorry, no messages found</li>
        </ul>
      </li>
  <% else %>
    <% @messages.each do |msg| %>
      <li class="user message" id="msg-<%= msg.id %> " data-year="<%= msg.created_at.strftime("%Y") %>">
        <ul>
          <li style="msg-unread"><%= unread_indicator(msg)%></li>
          <li class="msg-sender"><%= link_to  msg.sender.username, message_path(msg) %></li>
          <li class="msg-attachment"><%= attachment_indicator(msg) %> </li>
          <li class="msg-subject"> <%= link_to msg.subject, message_path(msg) %></li>
          <li class="msg-timestamp"> <%= msg.created_at.strftime("%B %d at %l:%M %P") %> </li>
          <li class="msg-controls">
            <%= link_to icon_helper('icon-remove') , hide_message_path(msg), class:'button delete' %>
          </li>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
  <%= paginate @messages %>
</section>
