<% title @message.subject %>
<section id="message-new">
  <header>
    <div class="content">
        View Message
    </div>
  </header>
  <div class="show-message">
    <div class="msg-head">
      <%= image_tag('ajcp-logo_small.png', :style => 'float: left; margin-right: 15px;')%>
      <div class="msg-from">From: <%= @message.sender.username %></div>
      <div class="msg-sent">Sent: <%= @message.created_at.strftime("%B %d %l:%M %P") %></div>
      <div class="msg-subject"><%= @message.subject %></div>
    </div>
    <div class='msg-body'>
      <%= simple_format @message.body %>
      
    </div>
    <div class='msg-attachments'>
      <% if @message.documents.length > 0 %> 
        Attachments:<br>  
        <% @message.documents.each do |doc| %>
          <%= link_to icon_helper('icon-file-alt') + "  #{doc.title}<br>".html_safe, download_path(doc) %>
        <% end %>
      <% end %>
    </div>

  </div>
</section>

