.hidden {
    display: none;
    visibility: hidden;
}


/*   Media Query Mixins
*/
@mixin at-tablet {
	@media all and (min-width: 480px) {
		@content;
	}
}

@mixin at-fullsize {
	@media all and (min-width: 1025px)  {
		@content;
	}
}

@mixin in-landscape {
    @media screen and (orientation:landscape) {
        @content;
    }
}

@mixin for-landscape-phones {
    @media only screen and (max-device-width : 480px) and (orientation: landscape) {
        @content;
    }
}

@mixin for-iphone5 {
    @media (device-height: 568px) {
        @content;
    }
}
@mixin for-bigscreens {
    @media only screen and (min-width : 1824px) {
        @content;
    }
}









/*   Alerts, Notices and Errors
    
    =Required Markup

    <p class="flash [notice | alert]">
        [content]
        <a href="#" class="close">&times;</a>
    </p>

*/
@mixin flash-notices {
      .flash {
            @include border-radius(3px);
            // margin-bottom: 10px;
            padding: 8px;

            .close {
                float: right;
                font-size: 1.3em;
                color: #999;
            }

        }
        .error {
            background: #f2dede;
            color: #b94a48;
        }
        .notice {
            background: #dff0d8;
            color: #468847;
        }
}
