<% title 'Investor Portal | Edit Account' %>
<section id="user-edit">
    <header>
        <div class="content">
            Edit Account
           
        </div>
        
    </header>


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :username %>
  <%= f.input :email %>
  <%= f.input :password, :autocomplete => "off", :label => "Password <br><small>(leave blank if you don't want to change it)</small>" %>

  <%= f.input :password_confirmation %>

  <%= f.input :current_password, :label => "Current Password <br><small>(we need your current password to confirm your changes)</small>"%> 
    <%= f.button :submit %>
<% end %>



</section>







