<%= simple_form_for [:admin, @message] do |f| %>

    <%= f.input :to, collection: @users.collect {|p| [ p.username, p.id ] }, input_html: { class: 'chzn-select chzn-container-multiple', multiple: true, name:'message[to]'} %> 
    <%#= f.input :cc, collection: @usernames, input_html: { class: 'chzn-select chzn-container-multiple', multiple: true} %> 
    <%#= f.input :bcc, collection: @usernames, input_html: { class: 'chzn-select chzn-container-multiple', multiple: true} %> 
    <%= f.input :sender_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :sender_type, :as => :hidden, :input_html => { :value => 'User'}%>
    <%= f.input :subject %>
    <%= f.input :body, :label => false %>
    <%= f.association :documents, collection: Document.all.collect {|p| [ p.title, p.id ] }, input_html: { class: 'chzn-select chzn-container-multiple', multiple: true } %> 

    <%= f.button :submit, msg_button_label(@message) %>
    <span class="cancel-link">
      <%= link_to 'Cancel', portal_path %>
    </span>

<% end %>
