<% title 'All Messages' %>
<section id="msg-index">
  <header>
    <div class="content">
         All Messages
         <%= select_year(Date.today, :start_year => 2013, :end_year => Date.today.year) %>
    </div>
  </header>
<ul class="messages">
   <% if @messages.empty? %>
       <li class="document">
        <ul>
          <li>Sorry, no messages found</li>
        </ul>
      </li>
    <% else %>
      <% @messages.each do |msg| %>
        <li class="admin message" id="msg-<%= msg.id %> " data-year="<%= msg.created_at.strftime("%Y") %>">
          <ul>
            <li class="msg-sender"><%= msg.sender.username %></li>
            <li class="msg-subject"><%= link_to msg.subject, edit_admin_message_path(msg) %></li>
            <li class="msg-timestamp"><%= msg.state == 'sent' ? msg.updated_at.strftime("%B %d %l:%M %P") : 'Draft' %></li>
            <li class="msg-controls">
              <%#= link_to icon_helper('icon-edit') , edit_admin_message_path(msg), class:'button edit' %>
              <%= link_to icon_helper('icon-remove') , admin_message_path(msg), method: :delete, data: { confirm: 'Are you sure? This will unpublish the message globally for all users!' }, class: 'button delete' %>
            </li>

          </ul>
        </li>
      <% end %>
    <% end %>
</ul>
  <%= paginate @messages %>
</section>
