<% title "Forgot Password" %>

<section id="login" class="placard">
    <div class="inner">

    <h2>Forgot your password?</h2>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.submit "Send me reset password instructions" %></div>


       <br><br>
           &laquo;<%= link_to " Return to Home", root_path %>    
           <span class="shared right"><%= render "devise/shared/links" %></span>
    <% end %>

    



    </div>
</section>
