(function(){

    
    // Get rails environment for conditional logging...
    var dev, environment = "<%= Rails.env %>";
    if (environment === "development") { dev = true; }


    // usage: log('inside coolFunc',this,arguments);
    // http://paulirish.com/2009/log-a-lightweight-wrapper-for-consolelog/
    window.log = function(){
      log.history = log.history || [];   // store logs to an array for reference
      log.history.push(arguments);
      if(this.console && dev){
        console.log( Array.prototype.slice.call(arguments) );
      }
    };


    
})();
