<% if alert %>
    <p class="flash error">
        <%= alert %>
        <a href="#" class="close">&times;</a>
    </p>
<% end %>
<% if notice %>
    <p class="flash notice">
        <%= notice %>
        <a href="#" class="close">&times;</a>
    </p>
<% end %>
