<div class="lightbox">

	<div class="lightbox-inner">
    <div class="modal-close"></div>
		<div class="lightbox-title"><h3></h3></div>
        <div class="lightbox-slide-wrap">
            <!-- slideshow container -->
        	<div class="lightbox-slides" 
            data-cycle-pager=".cycle-pager"
            data-cycle-log="false"
            data-cycle-fx="fadeout"
            data-cycle-pager-template="<a href=#>0{{slideNum}}</a>"
            data-cycle-prev=".cycle-pager-left"
            data-cycle-next=".cycle-pager-right"></div>

            <!-- numbered pager -->
            <div class="cycle-pager"></div>

            <!--  prev/next pager -->
            <span class="cycle-pager-left"></span>
            <span class="cycle-pager-right"></span>
        </div>
    	<div class="lightbox-desc">
            <p></p>
        </div>
    	<a href="javascript:void(0);" style="" class="mobile-close"></a>
  	</div>
    
</div>
