<section id="mobile-bar">
  <div class="msg">
  <% if current_user && current_user.admin? %>
    <%= link_to icon_helper('icon-envelope-alt'), admin_messages_path , class: 'menu-item' %>
  <% elsif current_user %>
    <%= link_to icon_helper('icon-envelope-alt') + unread_count, portal_path , class: 'menu-item' %>
  <% else %>
    SOMETHING IS VERY WRONG
  <% end %>
  </div>

  <div class="doc">
  <% if current_user && current_user.admin? %>
    <%= link_to icon_helper('icon-folder-open'), admin_documents_path , class: 'menu-item' %>
  <% else %>
    <%= link_to icon_helper('icon-folder-open'), documents_path , class: 'menu-item' %>
  <% end %>
  </div>

  <div class="sort">
   <div class="sort-content">
      <%= select_year(Date.today, { :start_year => 2013, 
                                     :end_year => Date.today.year}, 
                                  {:class => 'mobile'} ) %>
      <i class=" icon-angle-right"></i>
    </div>
  </div>
  
</section>
