<section id="sidebar">


  <% if current_user && current_user.admin? %>
    <div class="box">
      <%= link_to icon_helper('icon-envelope-alt') + 'Messages', admin_messages_path , class: 'menu-item' %>
    </div>
    <div class="box">
      <%= link_to icon_helper('icon-plus-sign') + 'New Message', new_admin_message_path , class: 'menu-item' %>
    </div>
    <div class="box">
      <%= link_to icon_helper('icon-folder-open') + 'File Archive', admin_documents_path , class: 'menu-item' %>
      <%= link_to split_button_helper('icon-plus') + 'Add File', new_admin_document_path , class: 'split-button' %>            
    </div>
    <div class="box">
      <%= link_to icon_helper('icon-folder-open') + 'Financials', admin_financials_path , class: 'menu-item' %>
      <%= link_to icon_helper('icon-folder-open') + 'Reports', admin_reports_path , class: 'menu-item' %>
      <%= link_to icon_helper('icon-folder-open') + 'Misc.', admin_misc_path , class: 'menu-item' %>
    </div>
  <% elsif current_user %>

    <div class="box">
      <%= link_to icon_helper('icon-envelope-alt') + 'Messages' + unread_count, portal_path , class: 'menu-item' %>
    </div>
    <div class="box">
      <%= link_to icon_helper('icon-folder-open') + 'File Archive', documents_path , class: 'menu-item' %>
    </div>
    <div class="box">
      <%= link_to icon_helper('icon-folder-open') + 'Financials', documents_financials_path , class: 'menu-item' %>
      <%= link_to icon_helper('icon-folder-open') + 'Reports', documents_reports_path , class: 'menu-item' %>
      <%= link_to icon_helper('icon-folder-open') + 'Misc.', documents_misc_path , class: 'menu-item' %>
    </div>
  <% else %>
    SOMETHING IS VERY WRONG
  <% end %>

  <% if current_user && current_user.admin? # Account management links %>
    <div class="box">
        <%= link_to icon_helper('icon-user') + 'Manage Users', admin_users_path , class: 'menu-item' %>
    </div>
  <% end %>  

  <div class="box">
    <%= link_to icon_helper('icon-wrench') + 'Edit Account', edit_user_registration_path , class: 'menu-item' %>
    <%= link_to icon_helper('icon-signout') +'Logout', destroy_user_session_path, class: 'menu-item', method: :delete %>
  </div>

</section>
