<header role="banner" class="site-header navigation">

 
  <h1 class="mobile-logo" data-slide="1"><a href="/" >AJCP</a></h1>
  <a class="mobile-nav" href="#menu">
    <div class="btn-bar"></div>
    <div class="btn-bar"></div>
    <div class="btn-bar"></div>
  </a>

  <nav id="menu" role="navigation">
    <ul class="navigation">
      <li data-slide="2"><a href="#portfolio">Portfolio</a></li>
      <li data-slide="3"><a href="#philosophy">Philosophy</a></li>
      <li data-slide="4"><a href="#our-team">Team</a></li>
      <li data-slide="5"><a href="#contact-us">Contact</a></li>
      <li class="login"><%= link_to 'Investor Login', portal_path %></li>
      <% if current_user %>
        <li><%= link_to 'Logout', destroy_user_session_path, class: 'menu-item', method: :delete %></li>
      <% end %>
    </ul>
  </nav>

  
  <nav class="big-header">
    <ul class="header-nav navigation left">
      <li data-slide="2"><a href="#portfolio">Portfolio</a></li>
      <li data-slide="3"><a href="#philosophy">Philosophy</a></li>
      <li data-slide="4"><a href="#our-team">Team</a></li>
    </ul>
    
    <h1 class="" data-slide="1">
      <a href="/">AJ Capital Partners</a>
    </h1>

    <ul class="header-nav navigation right">
      <li class="login"><%= link_to 'Investor Login', portal_path %></li>
      <li data-slide="5"><a href="#contact-us">Contact</a></li>
    </ul>
  </nav>

  

</header>
