<footer class="site-footer">
  <article class="inner">
        <div class="site-info">&copy; <%= copyright_year %> AJ Capital Partners. All rights reserved.</div>
        <nav class="footer-nav">
          <ul class="navigation">
            <!-- TODO: replace with Rails links -->
            <li data-slide="2"><a href="#portfolio">Portfolio</a></li>
            <li data-slide="3"><a href="#philosophy">Philosophy</a></li>
            <li data-slide="4"><a href="#our-team">Team</a></li>
            <li class="login"><%= link_to 'Investor Login', portal_path %></li>
            <li data-slide="5"><a href="#contact-us">Contact</a></li>
          </ul>
        </nav>
    </article>
</footer> 
