.button, input[type='submit']{
    margin: 10px auto 10px;
    padding: 5px;
    background: #eee;
    height: 30px;
    @include border-radius(2px);
    font-size: 16px;
    &.download, &.create {
      background: $color-blue;
      color: #fff;
    }
    &.delete {
      background: $color-red;
      color: #fff;
    }
    &.edit {
      background: $color-green;
      color: #fff;

    }
    

}
.split-button {
    background: #eee;
    width: 140px;
    margin: 10px auto 10px;
    // height: 20px;
    display:block;
    padding: 5px 0 5px 55px;
    position: relative;
   span {
      display: block;
      height: 100%;
      width: 30px;
      position: absolute;
      left: 0;
      top: 0;
      border-right: solid 1px;
      padding: 5px 5px 5px 8px;
   }


}
