#contact-us  {
    background: image-url('contact-us-bg.jpg') center center no-repeat fixed;
    background-size: cover;
    color: #f6f0ed;
	h2 { color: #f6f0ed; margin-bottom: 1em;}
	.inner {
		// @include container(4);
		text-align: center;
        position: relative;
	}
	.contact-info {
		text-transform: uppercase;
        vertical-align: middle;
        margin: auto;
        position: absolute;
        top: 25%;
        left: 50%;
        width: 350px;
        margin-left: -175px;
	}
	.contact-label {
		padding-bottom: .5em;
		font-size: 10px;
        letter-spacing: 0.3em;
        font-weight: 700;
	}
	.contact-content {
		padding-bottom: 1em;
		font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2em;
		line-height: 1.25em;
        a { color: #fff; }
	}
    a[href^=tel] {
        color: #fff;
    }
} // #contact-us
