.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    background: black;
    display: none;
    .modal-close {
        width: 65px;
        height: 65px;
        background: image-url('modal-close.png') 0 0 no-repeat;
        position: absolute;
        display: none;
        top: 50px;
        right: 50px;
        z-index: 9999;
        cursor: pointer;
        @include at-fullsize {
            display: block;
        }
    }
    .lightbox-slide-wrap {
        position: relative;
    }
    .lightbox-inner {
        // margin: 0 auto;
        position: relative;
        width: 100%;
        @include for-iphone5 {
            width: 70%;
        }
        @include at-tablet {
            // width:90%;
            min-width: 100%;
        }
        h3 {
            color: white;
            text-transform: uppercase;
            padding: .5em 0 .5em;
            font-size: 1.25em;
            font-weight: 700;
            letter-spacing: 0.2em;
        }
        .lightbox-desc {
            color: white;
            line-height: 1.26em;
            padding: 1em;
            text-align: left;
            font-size: .9em;
            position: relative;
            @include in-landscape {
                display: none;
            }
            a { 
                color: #fff;
                text-transform: uppercase;
                position: absolute;
                right:30px;
            }
        }
        .lightbox-slides img {
            margin: 0 auto !important;
            // max-width: 100%;
            width:100%;
           
            @include at-tablet {
                width: 100%;
                // max-height: 70%;
                margin:  0 auto;
            }
            @include at-fullsize {
                // left: 0;

            }
        }
        .cycle-pager {
            position: absolute;
            display: none;
            top: 60px;
            left: 60px;
            z-index: 9999;
            font-size: 12px;
            letter-spacing: 0.2em;
            a { 
                color: #fff;
                margin-right: 1em;
                font-weight: 600;
                padding: 0 0.1em 0.3em ;
                &:hover {border-bottom: 2px solid #fff;} 
            }
            @include at-fullsize { 
                display: block;
            }
        }
        .cycle-pager-active {
            font-weight: normal;
            border-bottom: 2px solid #fff;
        }
        .cycle-pager-left, .cycle-pager-right { 
            position: absolute;
            cursor: pointer;
            color: #fff;
            display: none;
            z-index: 9999;
            @include at-tablet {
                display: inline-block;
            }
        } 
        .cycle-pager-left {
            top: 45%;
            left: 60px;
            width: 32px;
            height: 65px;
            background: image-url('carousel-nav.png') top left no-repeat;
        }
         .cycle-pager-right {
            top: 45%;
            right: 60px;
            width: 32px;
            height: 65px;
            background: image-url('carousel-nav.png') top right no-repeat;
        }

    }
    .mobile-close {
        background: image-url('modal-close.png') 0 0 no-repeat;
        background-size:  contain;
        width: 25px;
        height: 25px;
        font-size: 1.5em;
        float:right; 
        color: white; 
        position: fixed; 
        top:10px; 
        right:10px;
    }
    @include at-fullsize {
        .lightbox-title, .lightbox-desc, .mobile-close { 
            display: none;
        }
    }
  }

