#login {
	box-sizing: border-box;
	background: image-url('philosophy-bg.jpg') center no-repeat fixed;
	position: relative;
    .inner  {
        margin: 0 auto;
        @include container;
         width: 400px;
    }


    form {
      @include flash-notices;
        padding: 2em 3em 2em;
        width: 400px;
        // height: 250px;
        background: #fff;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        left: 50%;
        margin-left: -200px;
        font-size: 12px;
        input[type='email'], input[type='password'] {
            // display: block;
            width: 100%;
            height: 3em;
            margin-bottom: 1.5em;
            border-radius: 3px;
            border: 5px solid white;
            border-left: 10px solid white;
        }
        label {
            display: inline-block;
            // background: black;
            text-transform: uppercase;
            margin-bottom: .5em;
            // position: relative;
            // left: 50%;
            // margin-left: -150px;
            // width: 326px; 
            // text-align: center;
        }
        input[type='checkbox'] {
            width: 20px;
        }
        input[type='submit'] {
            margin-top: .75em;
            margin-bottom:1.5em;
            text-transform: uppercase;
            width: 100%;
            border:0;
            height: 3em;
        }
        .shared.right {
            float: right;
        }
    }

}

