.pagination {
  text-align: center;
  background: #444;
  height: 45px;
  position: fixed;
  bottom: 0;
  width: 100%;
  // padding: .75em;
  color: shade(#fff, 50%);
  font-size: 2em;
  a { 
    color: #fff; 
    display: inline-block;
    width: 100%;
    height: 45px;

  }
  .page { display: none; }// mobile & tablet only, hide numbers
  .first, .prev, .next, .last { 
    padding-top: 5px;
    width: 20%;
    height: 45px;
    display: inline-block;
  }

  @include at-fullsize {
    background: none;
    color: shade(#fff, 50%);
    position: absolute;
    font-size: 1em;
    margin-left: -80px;
    .page {
      display: inline-block;
    }
    a {
      color: #fff;
    }

    .first, .prev, .next, .last, .page {
      width: auto;
      padding: .5em;
      background: #444;
      margin: 0;
      height: 30px;

    }
  }
}


