
#philosophy { 
    background: image-url('philosophy-bg.jpg') center no-repeat scroll;
    position: relative;
    .inner {
        margin-top:10%;
    }
    p {
    	
        text-shadow: 0px -1px 1px rgba(150, 150, 150, 0.2);
    }
    @include at-tablet {
         .inner {@include container(6);}
    }
    @include for-bigscreens {
        background-size: cover;
    }
} //#philosophy
