
.placard { 
    box-sizing: content-box;
    padding:75px 0; 
    position: relative;
    z-index: 1;
    height: 100%;
    p {
        line-height: 1.4em;
        text-align: justify;
        padding-bottom: 1em;
        font-size: 12px;
        font-weight: 400;
    }
    h2 {
        color: #2d2b2d;
        font-size: 60px;
        font-family: 'league-gothic', sans-serif;
        font-weight: normal;
        letter-spacing: .04em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    .prop-link {
        color: $color-black;
        &:hover {
            color: #666;
        };
    }
}
