#portfolio { 
    background: image-url('portfolio-bg.png') repeat fixed;
    .inner {
        @include at-fullsize {
            @include container(12);
            // @include susy-grid-background;
        }
    }
    h2 {
        color: #fff;
    }
    .past-portfolio{padding-top: 1em;}
    .prop {
        cursor: pointer;
        text-align: center;
        position: relative;
        @include at-tablet {
            text-align: left;
            margin-bottom: 1em;
            @include pad(2);
            @include span-columns(10, 12)
        }
        @include at-fullsize {
            @include pad(0);
            @include span-columns(6);
            &:nth-of-type(2n) { @include omega; }
            &:nth-of-type(2n+1) { clear:both; }          
        }
        .prop-info { 
            font-size: 9px;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 1.23em;
            @include at-tablet { 
                background: rgba(255, 255, 255, 0.8);
                padding: 2em; 
                display: block;
            }
            @include at-fullsize {
                width: 100%;
                display: none;
                bottom: 0;
                position: absolute;
                p { line-height: 1.1; }
            }
        }
        img {
            width: 100%;
        }
        h3 {
            background: rgba(255, 255, 255, 0.8);
            bottom: 50px;
            display: inline;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.2em;
            padding: .5em;
            position: relative;
            text-transform: uppercase;
            margin-top: 1em;
            margin-bottom: 2em;
            @include at-tablet {
                bottom: 0;
                padding: 0;
                background: transparent;
            }
        }
        p { 
            display: none;
            div {
                font-weight: 800;
            }
            @include at-tablet {
                display: block;
                padding: .5em 0;
            }
           
         } 
         .long-title { font-size:12px; }
         @include at-tablet {
            .long-title {
                font-size: 16px;
            }
         }
    }
} // #portfolio
