.site-footer {
    padding-top: 1.25em;
    background: #fff;
    height: 50px;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    z-index: 9999;
    display: none;
    .site-info {
        font-size: 10px;
    } // site-info
    .footer-nav {
        display: none;
        li  {
            color: $color-black;
            display: inline-block;
            float: left;
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            padding-right: 2em;

            &:last-of-type {
                padding-right: 0;
            }
            a {text-decoration: none;}
        } // li
    } // footer-nav

    @include at-fullsize {
        .site-info { @include span-columns(6, 12); }
        .footer-nav { display: block; @include span-columns(6 omega, 12); }
    }
} // site-footer
