%nav  {
    color: $color-black;
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase;
}

%nav-bar {
    background: #fff;
    color: $color-black;
    height: 45px;
    white-space: nowrap;
}


// Mobile navigation menu
nav[role=navigation] {
    display: none;
    clear: both;
    z-index: 1;
}

nav[role=navigation].active {
    display: block;
}

nav[role=navigation] ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
}
nav[role=navigation] li a {
    display: block;
    color: white;
    padding: 0.8em;
    background: #444;
    border-bottom: 1px solid #000;
    text-decoration: none;
}
// end of mobile navigation



.site-header{
    display: none;
    @extend %nav-bar;
    position:fixed; 
    top:0; 
    width:100%;
    z-index:10000;
    h1 {
        margin: 0.75em;
        display: inline;
        font-weight: 700;
        float: left;
        position: relative;
        a { 
            color: $color-black; 
            text-decoration: none; 
            font-size: 13.5px;
        }
    }
    .mobile-nav {
        border: 1px solid #fff;
        cursor: pointer;
        display: inline-block;
        float: right;
        margin: .25em;
        padding: .5em;
        &.active {
            background: #eee;
            border-color: #ddd;
        }
        .btn-bar {
            background: black;
            height:4px;
            width: 20px;
            margin-bottom: 2px;
        }
       
    }
    .big-header {
         
        @include container;
        // margin: 0 auto;
        display: none;
        // text-align: center;
        position: relative;
        h1 {
            @extend %nav;
            display: inline; 
            padding-top: .6em;
            font-size: 13.5px;
            width: 192px;
            left: 39%;

        }
        ul { 
            
            position: relative;
        }
        li { 
           
            float: left;
            padding-right: 2em;
            text-transform: uppercase;
            &:last-of-type { padding: 0; }
            &.active-nav a {
                color: $color-black;
                font-weight: 600;
            }
            
            a {
                color: #ccc;
                font-weight: 600;
                text-decoration: none;
                font-size: 10px;
                letter-spacing: 0.2em;
                &:hover{
                    color: $color-black;
                    font-weight: 600;
                }
            }
        }
        .header-nav {
            @extend %nav;
            position: fixed;
            padding-top: .75em;
            &.right { 
                position: relative;
                float: right;
            }
            &.left {
                float: left;
            }
        }
    }
    @include at-fullsize {
        .active { display: none!important ; }
        .big-header { display: block; }
        .mobile-nav, .mobile-logo { display: none; }
    }
} // header










