#splash { 
    background: image-url('splash-bg.jpg') 50% 50% no-repeat scroll;
    position: relative;
    .navigation { 
        width: 100%; 
        background: black;
        z-index: 9999;
        text-align: center;
        position: relative;
    }
    .scroll-link {
        position: absolute;
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;       
        cursor: pointer;
        width: 100%;
        margin-left: -50%;
        left: 50%;
        top:80px;
        font-size: 12px;
        font-family: 'proxima-nova', sans-serif;
    }
    .logo {
        background: image-url('ajcp-logo.png') 0 0 no-repeat;
        background-size: contain;
        width: 75px;
        height: 75px;
        top: 35px;
        left:-270px;
        position: relative;
        z-index: 80;
        margin: 0 auto;
    }
    .splash-heading {
        color: #fff;
        color: rgba(255, 255, 255, 0.8);
        font-family: "league-gothic", sans-serif;
        font-size: 50px; 
        position: relative;
        text-align: center;
        text-transform: uppercase;
        z-index: 70;
    }
    @include for-landscape-phones {
        .splash-heading {
            margin-top: -220px;
        }
        .logo {
            left: -170px;
        }
        .scroll-link {
            top: 15px;
        }
    }

    @include at-tablet {
        .logo {
            height: 120px;
            width: 120px;            
        }
        .splash-heading {
            font-size: 75px;
            top:100px;
            background-size: contain;
        }
    }

    @include at-fullsize {
        background-attachment: fixed;
        .splash-heading {
            font-size: 100px;
            top: 20%;
        }
        .logo {
            height: 175px;
            width: 175px;
            // top: 50px;
            left: -370px;
        }
    }
    @include for-bigscreens {
        background-size: cover;
    }

} // #splash
