
#our-team {
    background: image-url('our-team-bg.jpg') top center no-repeat scroll;
    background-size: cover !important;
    position: relative;
    .person {
        text-shadow: 0px -1px 1px rgba(150, 150, 150, 0.2);
    	h3 {
    		font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.2em;
    		text-transform: uppercase;
    		margin: .75em 0 .75em;
    	}
    }

    @include at-tablet {
        background-size: auto;
    	.person {
             @include container(6)
    	}
    }
    @include for-bigscreens {
        background-size: cover;
    }
} // #our-team
