<% title 'File Archive' %>
<section id="portal">
  <header>
    <div class="content">
      File Archive
      
      <span class="right"> Welcome  <%= current_user.email %> </span>
    </div>
  </header>

  <ul class="msg-docs">
     <% if @documents.empty? %>
       <li class="document">
        <ul>
          <li>Sorry, no documents found</li>
        </ul>
      </li>
    <% else %>
      <% @documents.each do |doc| %>
        <li class="user document" id="doc-<%= doc.id %> ">
          <ul>
            <li class="doc-title"><%= doc_title_link(doc) %> </li>
            <li class="doc-category"><%= doc.category.titleize %> </li>
            <li class="doc-controls"><%= link_to icon_helper('icon-download-alt'), download_path(doc), target: '_blank', class:'button download' %></li>
          </ul>
        </li>
      <% end %>
    <% end %>

  </ul>
      <%= paginate @documents%>
</section>
