<% title "Login" %>
<section id="login" class="placard">
    <div class="inner">



        <h2>Investor Login</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>


          <%= render 'shared/flash' %>

          
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>
         
          <div><%= f.submit "Sign in" %></div>

          <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

            <br><br>
           &laquo;<%= link_to " Return to Home", root_path %>    
           <span class="shared right"><%= render "devise/shared/links" %></span>
        <% end %>

         


    </div>
</section>
