.document {
  @extend %record;
  li {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
  }
  .doc-title {
    i { display: none; }
  }
  .doc-category { display: none; }
  .doc-controls { text-align: right; }
}

.admin.document {
  .doc-title { width: 55%; }
  .doc-category {}
  .doc-uploaded { display: none; }
  .doc-controls { width: 125px; }
  @include at-tablet {
    .doc-title { 
      width: 35%; 
      i { display: inline-block; }
    }
    .doc-uploaded {
      display: inline-block;
      width: 35%;
    }
  }
  @include at-fullsize {
     
    .doc-title { width: 25%; }
    .doc-category {
      width: 25%;
      display: inline-block;
    }
     .doc-uploaded {
      width: 25%;
     }
  }
}

.user.document {
  .doc-title {
    width: 45%;
  }
  .doc-category {
    display: inline-block;
    width: 35%;
  }
  .doc-controls { width: 45px;}
  @include at-tablet {
    .doc-title {
      i {
        display: inline-block;
      }
    }
    .doc-category {
     width: 40%;
    }
  }
}

