.message {
  @extend %record;
  li {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
  }
  .unread {
   color: #3ca9d1;
  }
  .read {
   color: transparent;
  }
  .msg-controls { 
    text-align: right;
  }
  @include at-fullsize {}
}

.user.message {
  .msg-unread{ width: 25px!important;  }
  .msg-sender { display: none; }
  .msg-attachment { width: 25px; }
  .msg-subject {width: 70%}
  .msg-sent {}
  .msg-timestamp { display: none;}
  .msg-controls { width: 40px !important; }
  @include at-tablet {
    .msg-timestamp { 
      display: inline-block; 
      width: 20%;
    }
    .msg-subject {width: 45%}

  }
  @include at-fullsize {
    .msg-sender { 
      display: inline-block;
      width: 30%;
    }
    .msg-subject {width: 35%}
  }
}


.admin.message {
  .msg-sender { display: none;}
  .msg-attachment {}
  .msg-subject {width: 70%}
  .msg-timestamp { display: none;}
  .msg-controls { width: 75px !important; }
  @include at-tablet {
    .msg-subject {width: 45%}
    .msg-timestamp { 
      width: 35%; 
      display:inline-block;
    }
  }
  @include at-fullsize {
    .msg-sender { 
      width: 25%;
      display: inline-block;
    }
    .msg-subject { 
      width: 25%; 
    }
    .msg-timestamp { 
      width: 25%; 
      display:inline-block;
    }
  }
}

.show-message {
  background: #fff;
  width: 90%;
  margin: 20px auto;
  // padding: 20px;
  .msg-head {
     background: #444;
     padding: 10px 15px;
     color: #fff;
     border-bottom: 1px solid #444;
     .msg-from, .msg-sent {margin-bottom:5px;}
     .msg-subject {
      font-weight: 700;
     }
  }
  .msg-body {
    padding: 15px;
    p {
      line-height: 1.3em;
      text-align: justify;
      margin-bottom: 10px;
     }
  }
  .msg-attachments {
    background: #444;
    padding: 10px 15px;
    color: #fff;
    .attachments { padding-bottom: 15px;}
    a { color: #fff;}
  }
}


.new_message, .edit_message {
  margin: 20px auto;
  width: 95%;
  background: #fff;
  padding: 20px;
  position: relative;
  @include border-radius(5px);
  label{
    vertical-align: top;
      display: block; }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='file'],
    textarea,
    select {
      margin-bottom: 15px;
      padding: 10px 15px 10px 10px; 
      width: 100%;
      // height: 50px;
    }
  .cancel-link {
    position: absolute;
    right: 20px;
    bottom: 35px;
  }
  .chzn-choices {
    padding: 5px;
  }
  .chzn-container {
    width: 100% !important;
  }
}
.spinner-wrap{
  margin-top: 20px;
  color: #fff;
  background: $color-blue;
  @extend .button;
}
