#mobile-bar {
  background: #444;
  color: #fff;
  height: 50px;
  width: 100%;
  a { color: #fff;}
  @include at-fullsize {
    display: none;
  }
  %item {
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    a { display: block;}
  }

  .msg {
    padding-top: 1em;
    @extend %item;
    width: 33%;
    border-right: 1px solid shade(#444, 15%);
  }

  .doc{
    padding-top: 1em;
    @extend %item;
    width: 33%;
    border-right: 1px solid shade(#444, 15%);
    border-left: 1px solid tint(#444, 15%);
  }

  .sort {
    @extend %item;
    height: 100%;
    border-left: 1px solid tint(#444, 15%);
    width: 25%;
  }
  .sort-content {
    margin: 0 auto;
    width: 100px;
  }
}
#date_year.mobile {
  margin-left: 2em;
  background: transparent;
  color: #fff;
  min-width: 50px;
  position: relative;
  // left:;
  font-size: 1em;
  line-height: 1;
  border: 0;
  outline: none;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: window;
}
