#sidebar {
  border-right: 1px solid shade(#444, 15%);
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #444;
  display: none;
  .menu-item { 
    color: #fff;
    display: block;
    padding: .75em 1em .75em;
    i {
      padding-right: .75em;
      color: shade(#fff, 30%);
      @include single-text-shadow();
    }
  &:hover{
    background: tint(#444, 10%);
  };
  }
  .box {
    border-bottom: 1px solid shade(#444, 15%);
    border-top: 1px solid tint(#444, 15%);
    width: 170px;
  }
  
  @include at-fullsize {
    display: table-cell;
  }
}

.unread-count {
  background: #fc4545;
  padding: 0 7px 0;
  margin-left: 10px;
  @include border-radius(1em);
}
