.user {
  @extend %record;
  li {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis;
  }
  .user-name { width: 40%; }
  .user-email { display: none; }
  .user-admin { width: 30%; }
  .user-controls { width: 75px; text-align: right;}
  @include at-tablet {
    .user-name { width: 35%; }
    .user-email {
      display: inline-block;
      width: 35%;
    }
    .user-admin { width: 10%; }
  }
}