#well {
  @include flash-notices;
  display: table-cell;
  background: #eee;
  width: 100%;
  height: 100%;
  position: relative;
  header {
    display: none;
    background: #444;
    padding: .75em;
    color: #fff;
    @include at-fullsize {
      display: block;
    }
    .right {
      position: absolute;
      right: 20px;
    }
    .button {
      font-size: 14px;
    }
    .content{
      margin-left: 1em;
    }
  }
}

%record {
  padding-left: 10px;
  border-bottom: 1px solid shade(#eee, 15%);
  li{
      display: inline-block;
      padding: 10px 0 10px;
  }
}

// .document {
//   @extend %record;
// }



form {
  margin: 30px auto;
  width: 305px;
  label {
    padding: 10px 10px 10px 0;
    // display: 
  }
  input[type='submit'] {
    background: $color-blue;
    color: #fff;
    border: 0;
    font-size: 12px;
    width: 25%;  
    min-width: 120px;  
  }
  input[type='file'] {
    padding: 1em;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='file'],
  select {
    margin-bottom: 15px;
    padding: 10px 15px 10px 10px; 
  }
  small {
    font-size: 10px;

  }
}





