<%= simple_form_for [:admin, @document], :html => {:multipart => true}  do |f| %>
    <%= f.input :title %>
    <%= f.input :category, 
      collection: Document::DOC_CATEGORIES %>
    <%= f.input :file %>
    <span  class=" spinner-wrap">
      <i class="icon-spinner icon-spin"></i> Uploading...
    </span>
    <%= f.button :submit %>
    
<% end %>


<script type="text/javascript">
  $(function(){
    $('.spinner-wrap').hide();
    $('#new_document').submit(function(e){
      // e.preventDefault(); 
      $(this).find('[type=submit]').hide();
      $('.spinner-wrap').fadeIn();//.removeClass('hidden')
    });

  });
  
</script>


