<% title 'File Archive' %>
<section id="doc-index">
  <header>
    <div class="content">
      File Archive - <%= controller.action_name.titleize %>
    </div>
  </header>

  <ul class="documents">
    <% if @documents.empty? %>
       <li class="document">
        <ul>
          <li>Sorry, no documents found</li>
        </ul>
      </li>
    <% else %>
      <% @documents.each do |doc| %>
        <li class="admin document" id="doc-<%= doc.id %>" data-year="<%= doc.created_at.strftime('%Y') %>">
          <ul>
            <li class="doc-title"> <%= doc_title_link(doc)%> </li>         
            <li class="doc-category"> <%= doc.category.singularize.titleize %> </li>
            <li class="doc-uploaded"> <%= doc.created_at.strftime("%B %d  at %l:%M %P") %> </li>
            <li class="doc-controls">
              <%= link_to icon_helper('icon-download-alt'), download_path(doc), target: '_blank', class:'button download' %>
              <%= link_to icon_helper('icon-remove') , admin_document_path(doc), method: :delete, data: { confirm: 'Are you sure?' }, class:'button delete' %>
            </li>
          </ul>
        </li>
        <% end %>
    <% end %>
  </ul>
    <%= paginate @documents%>
</section>

