<section id="contact-us" class="placard" data-slide="5">
      
      <div class="inner contact-info">
          <h2>Contact Us</h2>
          <div class="contact-label">Telephone</div>
          <div class="contact-content"> 312 267 4185</div>

          <div class="contact-label">Fax</div>
          <div class="contact-content"> 312 275 1070</div>

          <div class="contact-label">Address</div>
          <div class="contact-content"><a href="https://maps.google.com/maps?q=621+West+Randolph+Street&hl=en&sll=39.739318,-89.266507&sspn=20.625161,18.237305&hnear=621+W+Randolph+St,+Chicago,+Cook,+Illinois+60661&t=m&z=17" target="_blank"> 621 West Randolph Street<br>
          Suite #4, Chicago, IL 60661</a></div>


          <div class="contact-label">Email</div>
          <div class="contact-content"><a href="mailto:info@ajcpt.com">info@ajcpt.com</a></div>
      </div>
</section> 
