<section id="philosophy" class="placard" data-slide="3">
      <div class="inner">
          
        <h2>Our Philosophy</h2>
        
        <div>
            <p>Adventurous Journeys Capital Partners (AJ Capital Partners) is a dynamic organization of opportunistic hospitality and real estate investors with a collective goal to acquire, reposition and develop highly sought after resorts and hotels in major metropolitan areas and prestigious resort destinations. The company’s mission is to achieve optimal risk adjusted returns for its investors who are seeking long-term capital investments.</p>

            <p>AJ Capital Partners has assembled a highly accomplished team who share an innate passion to create a one-of-a kind portfolio of timeless assets. Collectively, the team is able to achieve this goal by drawing upon their diverse and multi-disciplinary backgrounds, spanning investment management and hospitality operations.</p>

            <p>The group develops, owns, and operates commercial and hospitality assets and businesses throughout the United States, Caribbean and Mexico. AJ Capital Partners continues to grow its portfolio of luxury lodging investments, firmly establishing the group as visionary leaders in the lifestyle-driven investment industry.</p>
        </div>
       
      </div>
</section>
