<section id="portfolio" data-slide="2" class="placard">
  
    <div class="inner">
        <h2 class="current portfolio">Current Portfolio</h2>

        <div id="prop1" class="prop">
          <div data-property-name="calistoga-ranch" data-photos="1">
            <%= image_tag('prop1.jpg')%>
            <div class="prop-info">
                <a href="http://calistogaranch.aubergeresorts.com/" target="_blank" class="prop-link"><h3>Calistoga Ranch</h3></a>
                <p>Calistoga Ranch lies tucked away into a private canyon in Upper Napa Valley on a 157-acre site marked by ancient oaks, majestic hills, a rock-hewn stream and a private lake.  The 50-room luxury resort captures the rich culture of food, wine and nature inherent to the region. Designed with relaxation in mind, lodges offer visitors the ultimate experience with a collection of indoor and outdoor spaces that allow guests to fully experience the pristine setting.</p>
            </div>
          </div>
            
        </div>

      

        <div id="prop2" class="prop">
          <div data-property-name="hotel-lincoln" data-photos="5" >
            <%= image_tag('prop2.jpg')%>
            <div class="prop-info">
                <a href="http://www.jdvhotels.com/hotels/chicago/lincoln" target="_blank" class="prop-link">
                  <h3>Hotel Lincoln</h3>
                </a>
                <p>The new Hotel Lincoln is a window to the most dynamic part of Chicago's North Side.</p>
            </div>
          </div>
        </div>

        <div id="prop3" class="prop">
          <div data-property-name="thompson-chicago" data-photos="3">
            <%= image_tag('prop3.jpg')%>
            <div class="prop-info">
                <a href="http://www.thompsonhotels.com/hotels/chicago/thompson-chicago" target="_blank" class="prop-link">
                  <h3>Thompson Chicago</h3>
                </a>
                <p>Offering understated elegance, modern day amenities, and personalized service in the heart of the Gold Coast, Thompson Chicago is the city’s premier boutique hotel. Opened in 2013, Thompson Chicago was designed by London-based Tara Bernerd with the needs of both business and leisure travelers in mind, with residence-style rooms and suites, top-of-the-line technology amenities, and Nico Osteria - a new signature restaurant by One Off Hospitality Group, the curators of establishments such as Blackbird and Publican Quality Meats.</p>
            </div>
          </div>
        </div>

        <div id="prop4" class="prop">
          <div data-property-name="auburge-resorts" data-photos="7">
            <%= image_tag('prop5.jpg')%>
            <div class="prop-info">
                <a href="http://www.aubergeresorts.com" target="_blank" class="prop-link"><h3>Auberge Resorts</h3></a>
                <p>Auberge Resorts manages a collection of exceptional hotels, resorts and private clubs, all of which embody a unique sense of place, while sharing Auberge's signature sense of understated luxury, timeless sophistication, and warm, gracious service.</p>
            </div>
          </div>
        </div>

        <div id="prop5" class="prop">
          <div data-property-name="viceroy-riviera" data-photos="1">
            <%= image_tag('prop4.jpg')%>
            <div class="prop-info">
                <a href="http://www.viceroyhotelsandresorts.com/rivieramaya" target="_blank" class="prop-link"><h3>Viceroy Riviera Maya</h3></a>
                <p>Viceroy Riviera Maya is a unique boutique hotel nestled on the white sand beaches of Playa Del Carmen.</p>
            </div>
          </div>
        </div>

        <div id="prop6" class="prop">
          <div data-property-name="soho-house" data-photos="5">
            <%= image_tag('prop6.jpg')%>
            <div class="prop-info">
                <a href="http://www.sohohouse.com" target="_blank" class="prop-link"><h3>Soho House Chicago</h3></a>
                <p>Soho House Chicago is a private members’ club that will feature a rooftop pool, gymnasium, screening room, spa, and 40 hotel rooms.  Upper floors will be a warm gathering place and home-away-from-home for members, guests, and friends.  The first floor will host two unique dining concepts open to both members and the public alike. Opening in 2014.</p>
            </div>
          </div>
        </div>

        <div id="prop7" class="prop">
          <div data-property-name="chicago-athletic" data-photos="6">
            <%= image_tag('prop7.jpg')%>
            <div class="prop-info">
                <h3 class="long-title">Chicago Athletic Association</h3>
                <p>Long a private members club, new life is coming to this Michigan Avenue gem. Overlooking Millennium Park, this new Chicago icon will feature interior design by the renowned Roman and Williams team with 240 rooms and distinctive dining and entertainment options that celebrate the history and allure of this former den for Chicago’s topmost.</p>
            </div>
          </div>
        </div>

        <div id="prop8" class="prop">
          <div data-property-name="malliouhana" data-photos="4">
            <%= image_tag('prop8.jpg')%>
            <div class="prop-info">
                <h3 class="long-title">Malliouhana Resort &amp; Spa</h3>
                <p>Acquired in February 2013, the Malliouhana Hotel and Spa is the crown jewel of the island of Anguilla since its inception in 1984. Perched high on the cliff top overlooking three white powder beaches and the Caribbean beyond, Malliouhana’s 55 bedrooms and suites sit on 22 acres of lush tropical gardens. The 15,000 square foot spa located on the beachfront add to the allure of this beautiful retreat destination. The hotel has been closed for the past two years, we are in the process of a full renovation of the asset which will reopen under the Auberge Resorts portfolio. </p>
            </div>
          </div>
        </div>
        <hr style="visibility:hidden">
        <h2 class="past-portfolio">Past Portfolio</h2>

        <div id="prop9" class="prop">
          <div data-property-name="the-raleigh" data-photos="1">
            <%= image_tag('prop9.jpg')%>
             <div class="prop-info">
                  <a href="http://www.raleighhotel.com" target="_blank" class="prop-link"><h3>The Raleigh</h3></a>
                  <p>A tribute to Art Deco grandeur, the prestigious Raleigh Hotel enjoys a spectacular oceanfront location on Miami’s popular South Beach.</p>
              </div>
          </div>
        </div>

        <div id="prop10" class="prop">
          <div data-property-name="isle-de-france" data-photos="5">
            <%= image_tag('prop10.jpg')%>
            <div class="prop-info">
                <a href="http://www.isle-de-france.com/eng/welcome/" target="_blank" class="prop-link"><h3>Isle De France</h3></a>
                <p>Located on St. Barth's pristine Bale des Flamands beach, Isle de France captures the charm and elegance of this Caribbean gem.</p>
            </div>
          </div>
            
        </div>

    </div>
</section> 
