<section id="splash" class="placard" data-slide="1" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="500">
    
    <div class="inner">
        <div class="splash-heading" data-stellar-ratio="-1" >
          <div class="logo"></div>
           <h1>Adventurous Journeys</h1>
           <!-- <h1>Capital Partners</h1> -->
            <div class="navigation"><span class="scroll-link" data-slide="2">SCROLL</span></div>
        </div>
    </div>

</section>
