<section id="our-team" class="placard" data-slide="4">
      <div class="inner">
          <h2>Our Team</h2>
          
          <div class="person">
            <h3>Ben Weprin</h3>
            <p>Prior to founding AJ Capital Partners in 2008, Mr. Weprin served as Managing Partner of Levy Family Partners Real Estate, overseeing the acquisition and operation of commercial and hospitality properties throughout the country. Mr. Weprin is a graduate of the University of Tennessee with an M.B.A. from Northwestern University's Kellogg School of Management.</p>
          </div>

          <div class="person">
            <h3>Jasin Alfaro</h3>
            <p>As Chief Operating Officer, Mr. Alfaro brings more than 14 years of institutional real estate experience to AJ Capital Partners. Prior to joining the firm, Jasin was a Managing Director in the Asset Management group for Greenfield Partners. During his tenure at Greenfield, Jasin oversaw the acquisition, development, financing and disposition of over $2B in gross assets that included investments in boutique and select service hotel investments, assisted living communities, office, mixed-used projects and single tenant office/industrial acquisitions. Previous to Greenfield, Jasin worked with Heitman Capital Management in the Acquisitions group. Jasin holds a B.A. in Economics and Public Policy from Stanford University.</p>
          </div>

          <div class="person">
            <h3>Tim Franzen</h3>
            <p>Mr. Franzen puts over 16 years of commercial real estate investment and development experience to work for AJ Capital Partners as its Executive Vice President of Acquisitions and Developments. Prior to joining the firm, Tim managed all aspects of his prior company’s real estate investment and development pipeline, including hotels, restaurants, retail centers, office buildings, parking structures and mixed-use projects. In a period of less that 3 years, Tim led the acquisition of nearly 3,000 hotel rooms, both branded and independent, having a total value in excess of $390 million, while developing 968 hotel keys valued at over $275 million. Tim has participated in the founding of both hotel management and hotel asset management companies. Tim began his career in the real estate practice group of law firm Katten Muchin &amp; Zavis. Tim is a graduate of DePauw University in Greencastle, Indiana and holds a J.D. degree from DePaul University College of Law.</p>
          </div>

          <div class="person">
            <h3>Jeff Broaden</h3>
            <p>Mr. Broaden is responsible for acquisitions and development with a focus on originating, financing, and executing new investments.  Formerly, as an Investment Manager with Dubai Holding, Mr. Broaden helped lead the acquisition and development of luxury resort and mixed-use assets. His real estate and private equity background includes positions with Equity International, RV Kuhns, and Jones Lang LaSalle. Mr. Broaden is a graduate of the University of Wisconsin-Madison and holds an M.B.A. from the University of Chicago Booth School of Business.</p>
          </div>

          
          <div class="person">
            <h3>Daniel Schor</h3>
            <p>Mr. Schor oversees asset management for AJ Capital's portfolio of properties as well as evaluates investment opportunities. Previously as a Vice President in Hyatt Hotel's Real Estate &amp; Development group, Mr. Schor gained valuable experience handling both management agreement and ownership matters on a global basis. Mr. Schor graduated from Cornell University and holds an M.B.A. from the University of Chicago Booth School of Business. </p>
          </div>

          <div class="person">
            <h3>Cleo Vo-Dai</h3>
            <p>After graduating from McGill university in her native Montreal, Cleo Vo-Dai was employed as Marketing and Public Relations Manager at Cirque du Soleil, where she oversaw press relations, communication, and marketing strategies for shows in Asia, Europe and South America.  Seven years and 72 cities later, Cleo joined Penrod Management Group as the Global Marketing Director for the Nikki Beach Hotel and Restaurant Group,where she envisioned and applied the overall marketing strategy for all twelve hotel and beach club locations as well as created strategic partnership alliances with luxury brands.  During her career, Cleo curated over 50 international multi-million dollar events, including the creation and launch of the Canadian Pavilion at Shanghai Universal Expo, Cirque du Soleil's international premieres in Las Vegas and Nikki Beach Cannes Festival where she managed all project aspects from start to finish including finding a location, design, raising funds, creating programming and generating revenue. Cleo's unique experience working on all five continents is key to the distinct and culturally inspired vision she brings to the hospitality industry. </p>
          </div>

          <div class="person">
            <h3>Andrew Weprin</h3>
            <p>Prior to joining AJ Capital Partners as General Counsel, Mr. Weprin served in a similar capacity with the New York City real estate development firm, Youngwoo &amp; Associates. Mr. Weprin previously served as an associate at the international law firms Cadwalader, Wickersham &amp; Taft LLP, and Dechert LLP. Mr. Weprin is a graduate of the University of Massachusetts, holds an M.S. in Real Estate Finance from New York University, and is a summa cum laude graduate of New York Law School.</p>
          </div>

           <div class="person">
            <h3>Jean Shore</h3>
            <p>An experienced accounting professional with excellent financial, analytical, technological and organizational skills, acquired and developed through 32 years of leadership experience in the hospitality and real estate industries, Ms. Shore is responsible for accounting and financial reporting for our asset management team. She is experienced and knowledgeable in a full complement of business management practices, methods and techniques obtained and developed while serving a variety of roles at Hilton Hotels Worldwide, Hyatt Hotel Corporation, Strategic Hotels and Resorts, and Shore Controller Services. Ms. Shore received her BS in Psychology and Biology from The College of William and Mary in Virginia.</p>
          </div>

          <div class="person">
            <h3>Brad Nichols</h3>
            <p>Mr. Nichols is responsible for the development and construction management of active improvements within AJ Capital’s portfolio as well as lead-in cost forecasting and feasibility planning for potential new opportunities.  In previous roles with Jones Lang LaSalle and Lend Lease, Mr. Nichols successfully oversaw the ground-up construction and redevelopment of a wide range of assets including full-service hospitality, high-rise commercial office, retail, and mixed-use new communities.  Mr. Nichols is a graduate of the University of Cincinnati and holds an M.B.A. from DePaul University’s Kellstadt School of Business.</p>
          </div>

           <div class="person">
            <h3>Ben Gottlieb</h3>
            <p>With a background in domestic and international hospitality investments, Mr. Gottlieb is responsible for sourcing and executing investment opportunities. Formerly based in Tokyo with Morgan Stanley Real Estate's hospitality arm, Mr. Gottlieb covered emerging market hotel development, management agreement negotiation, asset management and analytics for the group's investments in the Asia Pacific region. His experience also includes a position with DivcoWest's acquisitions team.  Mr. Gottlieb holds a B.A. from the University of Michigan and an M.B.A from Cornell University's Johnson School.</p>
          </div>
          
           <div class="person">
            <h3>Yan Pesotskiy</h3>
            <p>Mr. Pesotskiy is responsible for assisting with evaluation, structuring, and due diligence of investment opportunities as well as accounting and asset management. His previous experiences include valuation consulting with Plante Moran and auditing with the Chicago Department of Finance. Mr. Pesotskiy graduated Loyola University with a B.B.A in accounting, finance, and minor in economics and is a Certified Public Accountant.</p>
          </div>

           
      </div>


</section>
