<% title "Welcome" %>

<%= render 'shared/site-header' %>
<%= render 'splash' %>
<%= render 'portfolio' %>
<%= render 'philosophy' %>
<%= render 'team' %>
<%= render 'contact' %>
<%= render 'shared/site-footer' %>
<%= render 'shared/lightbox' %>
