@import "compass";
@import "susy";
@import "chosen";
@import "core/reset";
@import "core/color";
@import "core/utils";
@import "core/webfonts";
@import "objects/buttons";
@import "objects/pagination";
@import "objects/site-header";
@import "portal/mobile-nav";
@import "portal/sidebar";
@import "portal/well";
@import "portal/messages";
@import "portal/documents";
@import "portal/users";


html {
  height: 100%;
}
body {
    font-family: 'proxima-nova', sans-serif;
    position: relative;
    text-rendering: optimizeLegibility;
    padding-top: 45px;
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

a {
    text-decoration: none;
    color: $color-black;
}

.inner  {
  margin: 0 auto;
  @include container;
}

.site-header {
    display: block;
}






