/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass";
@import "susy";
@import "core/reset";
@import "core/color";
@import "core/utils";


@import "objects/placard";
@import "objects/site-header";
@import "objects/splash";
@import "objects/portfolio";
@import "objects/philosophy";
@import "objects/team";
@import "objects/contact";
@import "objects/site-footer";
@import "objects/lightbox";

@import "objects/login";

//---------------------------------------------------------------------------


body {
    font-family: 'proxima-nova', sans-serif;
    position: relative;
    text-rendering: optimizeLegibility;
}
.wrapper {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: $color-black;
}

.inner  {
  margin: 0 auto;
  @include container;
}




