<% title 'Edit User' %>
<section id="user-index">
  <header>
    <div class="content">
        Edit User
        <span class="right">
          <%= link_to icon_helper('icon-plus') + '&nbsp;&nbsp;Create User'.html_safe , new_admin_user_path, :class => 'button create' %> 
        </span
    </div>
  </header>

  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :username, :required => false %>
    <%= f.input :email %>
    <%= f.input :admin?, :label => "Admin permissions", :as => :boolean %>
    <%= f.button :submit %>
  <% end %>

</section>

