<% title 'Manage Users' %>
<section id="user-index">
  <header>
    <div class="content">
        Manage Users
        <span class="right">
           <%= link_to icon_helper('icon-plus') + '&nbsp;&nbsp;Create User'.html_safe , new_admin_user_path, :class => 'button create' %>
        </span>
       
    </div>
  </header>

  <ul class="users">
    <% @users.each do |user| %>
      <li class="user" id="user-<%= user.id %> ">
        <ul>
            <li class="user-name"><%= user_name(user) %></li>
            <li class="user-email"><%= user.email %></li>
            <li class="user-admin"><%= user_admin(user) %> </li>
            <li class="user-controls">
                <%= link_to icon_helper('icon-edit') , edit_admin_user_path(user), class: 'button edit'%>
                <%= link_to icon_helper('icon-remove') , admin_user_path(user), class: 'button delete', method: :delete, data: { confirm: 'Are you sure?' } %>
            </li>
        </ul>
      </li>
     <% end %>
  </ul>
  
  <%= paginate @users %>

</section>

