<% title 'New User' %>
<section id="user-new">
  <header>
    <div class="content">
        New User
    </div>
  </header>

  <%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :username, :required => false %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.button :submit %>
  <% end %>

</section>

