<section id="user-detail">

  <header>
    <div class="content">
      User Detail
    </div>
  </header>

  <div class="user">
    <span class="user-email">Username: <%= @user.username %></span>
    <span class="user-email">Email: <%= @user.email %></span>
  </div>

</section>

