<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>AJ Capital Partners | <%= yield(:title) %></title>
      <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=8" > -->


    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico'%>
    <!-- Included CSS Files -->
    <%= stylesheet_link_tag "screen" %>

    <!-- Included JS Files  -->
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

    <!-- Typekit script -->
    <script type="text/javascript" src="//use.typekit.net/pjd7ybc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</body>
</html>
